# Gradle
.gradle/
build/
**/build/

# Android
*.apk
*.aab
*.ap_
# Excecao: APK de release para distribuicao
!app/release/*.apk
local.properties
*.keystore
*.jks

# IDE
.idea/
*.iml
.DS_Store

# Keystore files
/keystore/
/signing/
